.playlist {
  transform: translateY(60%);
  &__top  {
   display: flex;
   justify-content: space-between;
   margin-bottom: 17px;
  }
  &__title  {
    font-size: 24px;
    line-height: 28px;
    @extend %roboto-900;
  }

  &__arrow {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-image: url('../images/icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all $defaultAnimSpeed;
    &.active{
      transform: rotate(180deg);
    }
  }
  &__list {
    display: flex;
  }

  &__item {
    background: rgba(196, 196, 196, 0.53);
    border-radius: 11px;
    min-width: 160px;
    height: 90px;
    border: none;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: all $defaultAnimSpeed;
    & + .playlist__item{
      margin-left: 25px;
    }
    &:hover{
      transform: translateY(-5px);
      filter: contrast(0.5);
    }
  }

  &__item-caption {
    margin: auto 8px 4px 8px;
    font-size: 18px;
    line-height: 25px;
    @extend %openSans-700;
  }

  &__item--add {
    background: rgba(196, 196, 196, 0.53) url('../images/icons/add.svg') no-repeat center;
    margin-left: 25px;
    border-radius: 11px;
    min-width: 160px;
    height: 90px;
    border: none;
    display: flex;
    align-items: flex-end;
    transition: all $defaultAnimSpeed;
    &:hover{
      transform: translateY(-5px);
      filter: contrast(0.5);
    }
  }
  &__form{
    position: absolute;
    z-index: 100;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
  }
  &__input{
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 30px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #909090;
    outline: none;
    box-shadow: -1px 6px 20px 0px rgba(0, 0, 0, 0.25);
  }
  &__input-button{
    position: absolute;
    right: 0;
    top: 5px;
    border: none;
    border-radius: 3px;
    bottom: 5px;
    width: 40px;
    background-color: rgba($default,.6);
  }
}
