.playlist-item{
  padding: 12px;
  &__button{
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
  }
  &__time {
    color: rgba($text, 0.6);
    margin-top: auto;
    margin-right: 12px;
  }
}