.music-card {
  max-width: 320px;
  background: rgba($secondary, 0.6);
  border-radius: 6px;
  padding: 12px 26px 12px 12px;
  position: relative;
  margin: 0 auto;
  &__content {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 36px;
    height: 36px;
    background-color: $default;
    object-fit: cover;
    object-position: center;
    margin-right: 12px;
  }

  &__box {
    flex: 1;
  }

  &__caption {
    font-size: 14px;
    line-height: 19px;
    @extend %openSans-600;
    margin-bottom: 2px;
  }
  &__time {
    color: rgba($text, 0.6);
    margin-top: auto;
    margin-right: 5px;
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background: $secondary;
    border-radius: 0px 6px 6px 0px;
    margin: 0;
    padding: 0;
    border: none;
    padding: 4px;
  }
  & + .music-card {
    margin-top: 10px;
  }
}
.context-menu {
  position: absolute;
  background: $default;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  z-index: 150;
  right: 10px;
  display: none;
  &.active{
    display: block;
    width: 125px;
    padding: 7px 10px;
  }

}
.context-menu-item {
  font-size: 14px;
  line-height: 15px;
  transition: all $defaultAnimSpeed;
  @extend %openSans-700;
  & + .context-menu-item{
    margin-top: 10px;
  }
  button{
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
  }
  &:hover{
    color: $accent;
  }
}
