@import '../../node_modules/normalize.css/normalize.css';
@import './reset';
@import './fonts';
@import './vars';
@import './global';


#app{
  height: 100%;
  margin: 0 auto;
  padding:  40px 15px 0;
  max-width: 375px;
  display: flex;
  flex-direction:column;
  transition: all $defaultAnimSpeed ease-out;
  &__container{

  }
  &__inner{
    height: 85vh;
    display: flex;
    flex-direction:column;
  }
}
@import 'modules/search-form';
.music-cards{
  padding: 0 12px;
  margin-bottom: 20px;
  flex: 1;
  overflow-y: auto;
}
@import 'modules/music-card';
@import 'modules/playlist-item';
@import 'modules/player';
@import 'modules/playlists';
@import 'modules/_auth';



.plyr{
  width: 1px;
  height: 1px;
}
